@using OnlineShop.Helpers
@using Model.ViewModel
@using ModelExtension= Model.Extension

@model CategoryFilter

@using (Html.BeginForm("Index", "Category", FormMethod.Post, new { @class="form-inline"}))
{
    <div class="row">
        <div class="col-md-6">
            <div class="dataTables_length" id="dataTables-example_length">
                <div class="input-group" role="group" aria-label="...">
                    <input type="text" value="@Model.SearchString" class="form-control" name="searchString" placeholder="Search for...">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" href="@Url.Action("Create")" title="Thêm mới nhóm">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                        @*<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" href="/Admin/Content/Create" title="Thêm mới bài viết">
                            <i class="fa fa-plus-circle"></i>
                        </a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dataTables_filter text-right">
                @{
                    var statusList = ModelExtension.ListExtensions.StatusEntityList.Where(w=>w.Value!="Deleted").ToList();
                    statusList.RemoveAt(0);
                    foreach (var item in statusList)
                    {
                        var selected = Model.Status.Any(o => o.ToString() == item.Value) ? "checked=checked" : string.Empty;
                        <label class="checkbox inline">
                            <input type="checkbox" name="Status" value="@item.Value" @selected onchange="this.form.submit();">
                            <span>@item.Text&nbsp;&nbsp;&nbsp;</span>
                        </label>
                    }
                }
                @Html.DropDownListFor(m => m.ParentID, ModelExtension.ListExtensions.CategoriesByCatalogueId(SiteConfiguration.CatalogueId), new { @class = "form-control", onchange = "this.form.submit();" })
                @*<div class="input-group">
                    @Html.DropDownListFor(m => m.ParentID, ListExtensions.CategoryList, new { @class = "form-control", onchange = "this.form.submit();" })
                    <div class="input-group-btn">
                        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" href="@Url.Action("Create")" title="Thêm mới nhóm">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <br />
}