@using Model.Models
@model PagingModel
@{ 
    int totalPages = Model.TotalItem / Model.LimitItem;

    if ((Model.TotalItem - totalPages * Model.LimitItem) > 0)
    {
        totalPages++;
    }
    var previousPageIsEllipsis = false;
}

    <div class="dataTables_paginate paging_simple_numbers ">        
            
                <ul class="pagination">
                    @if (totalPages > 1)
                    {
                        for (int p = 1; p <= totalPages; p++)
                        {

                            if (p == 1)
                            {
                                if (p == Model.CurrentPage)
                                {
                                    <li class="paginate_button previous disabled">
                                            <a class="page-link" href="#" aria-disabled="true">
                                                Previous
                                            </a>
                                        </li>
                                }
                                else
                                {
                                    <li class="paginate_button previous">
                                        <a class="page-link" href="?page=@(Model.CurrentPage - 1)" title="Previous page">
                                            Previous
                                        </a>
                                    </li>
                                }
                            }

                            if (p == Model.CurrentPage || p == 1 || p == Model.CurrentPage - 1 || p == Model.CurrentPage + 1 || p == totalPages - 1 || p == totalPages)
                            {
                                string current = (p == Model.CurrentPage) ? "current" : String.Empty;

                                if (String.IsNullOrWhiteSpace(current))
                                {
                                    <li class="paginate_button  @current ">
                                        <a class="page-link @current" href="?page=@p" title="Go to page @p">@p</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="paginate_button  @current ">
                                        @*<a class="page-link @current" href="?page=@p" title="Go to page @p">@p</a>*@
                                        @p
                                    </li>
                                }

                                previousPageIsEllipsis = false;
                            }
                            else
                            {
                                if (previousPageIsEllipsis)
                                {
                                    continue;
                                }
                                else
                                {
                                    <li class="paginate_button disabled">
                                        <a class="page-link">…</a>
                                    </li>
                                    previousPageIsEllipsis = true;
                                }
                            }

                            @* Add right arrow *@
                    if (p == totalPages)
                    {
                        if (p == Model.CurrentPage)
                        {
                            <li class="paginate_button arrow unavailable disabled">
                                    <a class="page-link" aria-disabled="true" role="button" href="#">
                                        Next
                                    </a>
                                </li>
                        }
                        else
                        {
                            <li class="paginate_button  next i-next icon-white">
                                <a href="?page=@(Model.CurrentPage + 1)" title="Next page">
                                    Next
                                </a>
                            </li>
                                }
                            }
                        }

                    }
                    else
                    {
                        <li class="paginate_button current">
                            <a href="#">1</a>
                        </li>
                    }
                </ul>
            
            @*<div class="form-control input-sm">
                <div class="toolbar-title">
                    <label>Rows per page</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="current">@Model.LimitItem</span>
                    <select onchange="setLocation(this.value)">
                        <option value="@Url.Action("OrderManager", "Site", new { limit = 15 })" selected="selected">
                            15
                        </option>
                        <option value="@Url.Action("OrderManager", "Site", new { limit = 20 })">
                            20
                        </option>
                        <option value="@Url.Action("OrderManager", "Site", new { limit = 50 })">
                            50
                        </option>
                        <option value="@Url.Action("OrderManager", "Site", new { limit = 100 })">
                            100
                        </option>
                    </select>
                </div>

            </div>*@

        </div>
    

