@using Model.Extension
@using Model.ViewModel
@model ProductFilter
<div class="mb-1">
    @using (Html.BeginForm("Products", "Ecommerce", FormMethod.Post, new { @class = "form-basic" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-3">
                <label>Tìm kiếm</label>
                <div class="input-group" role="group" aria-label="...">
                    @Html.TextBoxFor(m => m.SearchString, new { @class = "form-control", placeholder = "Nhập tên nhóm chủ đề mới..." })
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>                
                </div>                
            </div>

            <div class="col-sm-2">
                <label>Nhóm trạng thái</label>
                <div class="input-group"> 
                    @Html.DropDownListFor(m => m.Status, ListExtensions.StatusEntityList, new { @class = "form-control select2-single", id = "select2-1", onchange = "this.form.submit();" })                    
                </div>             
            </div>

            <div class="col-sm-2">
                <label>Nhóm danh bạ</label>
                <div class="input-group">             
                    @Html.DropDownListFor(m => m.CategoryId, ListExtensions.ProductCategoryList, new { @class = "form-control select1-single", id = "select2-2", onchange = "this.form.submit();" })
                </div>
            </div>   

            <div class="col-sm-2">
                <label>Danh sách Website</label>
                <div class="input-group">
                    @Html.DropDownListFor(m => m.CatalogueId, ListExtensions.CatalogueList, new { @class = "form-control select1-single", id = "select2-3", onchange = "this.form.submit();" })
                </div>
            </div>   
        </div>
    }
</div>
