@using Model.ViewModel
@model List<Breadcrumb>

<ol class="breadcrumb mb-0">
    @*<li class="breadcrumb-item">Trang chủ</li>*@

    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Home")">Trang chủ</a>
    </li>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <li class="breadcrumb-item">
                <a href="@item.Url">@item.LinkText</a>
            </li>
        }
    }

    <li class="breadcrumb-item active">@ViewBag.Title</li>

    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="#"><i class="icon-speech"></i></a>
            <a class="btn" href="@Url.Action("Index","Home")"><i class="icon-graph"></i> &nbsp;Dashboard</a>
            <a class="btn" href="#" onclick="window.location.reload();"><i class="fa fa-refresh"></i> &nbsp;Refresh</a>
        </div>
    </li>

</ol>

