<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title text-center">
                <span>Dashboard</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Catalogue")"><i class="fa fa-cubes"></i> Quản lý Website</a>
            </li>

@*
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="@Url.Action("Index", "Catalogue")"><i class="icon-puzzle"></i> Danh sách website</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Detail", "Category", new{Id=14, alias= "stored-procedure" })"><i class="icon-puzzle"></i> Stored Procedure</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Detail", "Category" , new{Id=20, alias="sql-server"})"><i class="icon-puzzle"></i> SQL Query</a>
            </li>
        </ul>
    </li>


        <li class="nav-item nav-dropdown">
            <a class="nav-link" href="#"><i class="icon-note"></i> ASP.NET MVC</a>
            <ul class="nav-dropdown-items">

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-note"></i> View</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="3"><i class="icon-note"></i> Partial View</a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Detail", "Category", new{Id=15, alias="aspnet-mvc"})"><i class="icon-note"></i> ASP.NET MVC</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("About", "Home")"><i class="fa fa-users"></i> Giới thiệu</a>
        </li>
*@
        </ul>
    </nav>
</div>
