@using Model.EF;
@model List<v_Product>

@if (Model.Count() > 0)
{

    var ItemFirst = Model.FirstOrDefault();
    var catName = ItemFirst.CategoryName;
    var catID = ItemFirst.CategoryId;
    <h3 style="margin-bottom: 30px">Sản phẩm cho bạn</h3>
    <div class="service-grids">

        @foreach (var item in Model)
        {
            string link = Url.Action("Detail", "Product", new { ProductDetailId = item.ProductDetailId, id = item.ProductId });
            string productName = String.Empty;
            if (item.ProductWeight >= 1000)
            {
                productName = String.Format("{0} {1} {2}", item.ProductName, (item.ProductWeight / 1000), "Kg");
            }
            else if (item.ProductWeight < 1000 && item.ProductWeight > 100)
            {
                productName = String.Format("{0} {1} {2}", item.ProductName, item.ProductWeight, "Gram");                
            }
            else
            {
                productName = item.ProductName;
            }

            <div class="col-md-3 col-sm-4 col-xs-6 col-min-12">
                <div class="arrival-grid simpleCart_shelfItem bounceInLeft productOfYou">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="@link" class="new-gri">
                                    <div class="grid-img">
                                        @{
                                            // setup image thumbnail
                                            string imagename = Url.ImageProductMedium(item.Image);
                                            if (!System.IO.File.Exists(Path.Combine(Server.MapPath(imagename))))
                                            {
                                                imagename = Url.ImageProductMedium("coming-soon.jpg");
                                            }
                                        }
                                        <img src="@imagename" class="img-responsive" alt="@productName" height="223">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="women">
                            <div class="gr_price">
                                <h6>
                                    <a href="@link" title="@productName">
                                        @productName
                                    </a>
                                </h6>
                                <span class="hide gia_km"></span>
                                @if (item.ProductPrice > 0)
                                {
                                    <p class="item_price gia_ban">@item.ProductPrice.ToString("N0") VNĐ</p>
                                }
                                else
                                {
                                    <p class="item_price gia_ban">Liên hệ</p>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
          }
        <div class="clearfix"></div>
    </div>
}
