@using OnlineShop.Helpers

<div class="categories-section">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 col-sm-6 col-xs-6 col-min-12 col-foot-1">
                <div class="ul_foot cat wow bounceInLeft animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInLeft;">
                    <h3>Về chúng tôi</h3>
                    <ul>
                        <li>
                            <p>Hợp tác xã nông nghiệp được thành lập từ năm 2001. Giấy phép kinh doanh số: 0302431595. Từ đó cho đến này Chúng tôi luôn là công ty dẫn đầu trong lĩnh vực nông nghiệp, cung cấp nông sản cho thị trường trong và ngoài nước.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-min-12 col-foot-2">
                <div class="ul_foot cat wow bounceIn animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
                    <h3>Giới thiệu thêm</h3>
                    <ul class="nav-bottom navi_bottom  navi_bottom_cus1"> <li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Gioi-Thieu-Ve-Cong-Ty-336941">Giới Thiệu Về Công Ty</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Bo-May-To-Chuc-336942">Bộ Máy Tổ Chức</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Tam-Nhin-Su-Menh-336943">Tầm Nhìn Sứ Mệnh</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Lich-Su-Hinh-Thanh-336944">Lịch Sử Hình Thành</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Doi-Tac-336945">Đối Tác</a></li> </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-min-12 col-foot-2">
                <div class="ul_foot cat wow bounceInUp animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInUp;">
                    <h3>Dịch vụ thêm</h3>
                    <ul class="nav-bottom navi_bottom  navi_bottom_cus1"> <li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Cho-vay-von-ho-tro-san-xuat-336947">Cho vay vốn hỗ trợ sản xuất</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Cung-ung-vat-tu-may-moc-nong-nghiep-336948">Cung ứng vật tư, máy móc nông nghiệp</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Cung-ung-phan-bon-336949">Cung ứng phân bón</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Cung-ung-giong-cay-trong-vat-nuoi-336950">Cung ứng giống cây trồng, vật nuôi</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Cung-ung-thuoc-bao-ve-thuc-vat-336951">Cung ứng thuốc bảo vệ thực vật</a></li> </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-min-12 col-foot-2">
                <div class="ul_foot cat wow bounceInRight animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInRight;">
                    <h3>Thông tin thêm</h3>
                    <ul class="nav-bottom navi_bottom  navi_bottom_cus1"> <li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Chinh-Sach-Rieng-Tu-336952">Chính Sách Riêng Tư</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Dieu-Khoan-Dieu-Kien-336953">Điều Khoản &amp; Điều Kiện</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Thoa-Thuan-Nguoi-Dung-336954">Thỏa Thuận Người Dùng</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Chinh-Sach-Doi-Tra-336955">Chính Sách Đổi Trả</a></li><li class="li_bottom li_bottom_cus1"> <i class="" aria-hidden="true"></i> <a class="a_navi_bottom a_navi_bottom_cus1" href="Chinh-Sach-Bao-Hanh-336956">Chính Sách Bảo Hành</a></li> </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="footer-section">
    <div class="container">
        <div class="footer-top">
            <div class="social-icons wow bounceInLeft animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInLeft;">
                <a href="Mở rộng 5" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="Mở rộng 6" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="Mở rộng 7" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="Mở rộng 8" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="footer-middle wow fadeInDown Big animated animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
            <div class="bottom-menu">
                <ul>
                    <li><a href="http://demonongnghiep.web30s.vn">trang chủ</a></li>
                    <li><a href="http://demonongnghiep.web30s.vn/info/2/gioi-thieu/">giới thiệu</a></li>
                    <li><a href="/San-pham">sản phẩm</a></li>
                    <li><a href="/Tin-tuc">tin tức</a></li>

                    <li><a href="http://demonongnghiep.web30s.vn/info/1/dich-vu/">dịch vụ</a></li>
                    <li><a href="http://demonongnghiep.web30s.vn/info/5/tuyen-dung/">tuyển dụng</a></li>
                    <li><a href="http://demonongnghiep.web30s.vn/contact/">liên hệ</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom wow bounceInRight animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInRight;">
            <p><span class="footer_copyright">
                   Copyright © @DateTime.Now.Year @SiteConfiguration.SiteName . All rights reserved
                </span>
            </p>
        </div>
        @*<script type="text/javascript">
			$(document).ready(function() {
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
        </script>
        <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 1;"> </span></a>*@
    </div>
</div>

@*<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>@SiteConfiguration.SiteName </h2>
                <i class="fa fa-envelope"></i> <a href="mailto:@SiteConfiguration.EmailSite" target="_blank" class="mailto">@SiteConfiguration.EmailSite</a> <br />
                <i class="fa fa-map-marker"></i> @SiteConfiguration.Address <br />
                <i class="fa fa-phone"></i> @SiteConfiguration.Phones
            </div>
            <div class="col-md-6 text-right">
                <ul id="social" class="list-inline">
                    <li>
                        <a title="Twitter" target="_blank" href="@SiteConfiguration.Twitter">
                            <img width="32" height="32" border="0" alt="Follow BP on Twitter" src="@Url.Content("~/images/icon_twitter.gif")">
                        </a>
                    </li>
                    <li>
                        <a title="Facebook" target="_blank" href="@SiteConfiguration.Facebook">
                            <img width="32" height="32" border="0" alt="" src="@Url.Content("~/images/icon_facebook.gif")">
                        </a>
                    </li>
                    <li class="last">
                        <a title="Linked" target="_blank" href="http://www.linkedin.com/profile/view?id=217667980">
                            <img width="32" height="32" border="0" alt="Youtube" src="@Url.Content("~/images/icon-linked.png")">
                        </a>
                    </li>
                </ul>
                <p>Copyright © @DateTime.Now.Year @SiteConfiguration.SiteName . All rights reserved</p>
            </div>
        </div>
    </div>
</section>*@


