@using OnlineShop.Helpers

<div class="categories-section">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-4 col-sm-6 col-xs-6 col-min-12">
                
                    <h3>Liên hệ chúng tôi</h3>
                    <p style="line-height:normal;">
                        <strong>Địa chỉ: </strong>@SiteConfiguration.Address<br>
                        <strong>Điện thoại: </strong>@SiteConfiguration.Phones <br>
                        <strong>Email: </strong>
                        <em>
                            <span style="text-decoration: underline;">
                                <a href="mailto:@SiteConfiguration.EmailSite?subject=@SiteConfiguration.SiteName Yêu cầu hỗ trợ" target="_blank">@SiteConfiguration.EmailSite</a>
                            </span>
                        </em>
                        <br>
                        <strong>Website:</strong>
                        <em> <span style="text-decoration: underline;"><a href="@SiteConfiguration.SiteUrl" target="_blank">@SiteConfiguration.SiteUrl</a></span></em>
                    </p>
                
            </div>
            <div class="col-md-8 col-sm-6 col-xs-6 col-min-12">
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1SBdxG1VQ9zDIKzMlh9YS8R3hzBslPMJf" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="footer-section">
    <div class="container">
        <div class="footer-top">
            <div class="social-icons wow bounceInLeft animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInLeft;">
                <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="footer-middle wow fadeInDown Big animated animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
            <div class="bottom-menu">
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("Detail","Content", new { id=49})">Giới thiệu</a></li>

                    <li><a href="@Url.Action("Inquiry","Contact")">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom wow bounceInRight animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInRight;">
            <p>
                <span class="footer_copyright">
                    Copyright © @DateTime.Now.Year @SiteConfiguration.SiteName . All rights reserved
                </span>
            </p>
        </div>
        @*<script type="text/javascript">
                $(document).ready(function() {
                    $().UItoTop({ easingType: 'easeOutQuart' });
                });
            </script>
            <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 1;"> </span></a>*@
    </div>
</div>

@*<section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>@SiteConfiguration.SiteName </h2>
                    <i class="fa fa-envelope"></i> <a href="mailto:@SiteConfiguration.EmailSite" target="_blank" class="mailto">@SiteConfiguration.EmailSite</a> <br />
                    <i class="fa fa-map-marker"></i> @SiteConfiguration.Address <br />
                    <i class="fa fa-phone"></i> @SiteConfiguration.Phones
                </div>
                <div class="col-md-6 text-right">
                    <ul id="social" class="list-inline">
                        <li>
                            <a title="Twitter" target="_blank" href="@SiteConfiguration.Twitter">
                                <img width="32" height="32" border="0" alt="Follow BP on Twitter" src="@Url.Content("~/images/icon_twitter.gif")">
                            </a>
                        </li>
                        <li>
                            <a title="Facebook" target="_blank" href="@SiteConfiguration.Facebook">
                                <img width="32" height="32" border="0" alt="" src="@Url.Content("~/images/icon_facebook.gif")">
                            </a>
                        </li>
                        <li class="last">
                            <a title="Linked" target="_blank" href="http://www.linkedin.com/profile/view?id=217667980">
                                <img width="32" height="32" border="0" alt="Youtube" src="@Url.Content("~/images/icon-linked.png")">
                            </a>
                        </li>
                    </ul>
                    <p>Copyright © @DateTime.Now.Year @SiteConfiguration.SiteName . All rights reserved</p>
                </div>
            </div>
        </div>
    </section>*@


