@using OnlineShop.Helpers
@{
    Layout = null;
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    ViewBag.ClassPage = String.IsNullOrWhiteSpace(ViewBag.ClassPage) ? "" : ViewBag.ClassPage;

    if (!String.IsNullOrWhiteSpace(controllerName) && controllerName == "Home")
    {
        ViewBag.ClassPage = ViewBag.ClassPage + " HomePage";
    }
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @SiteConfiguration.SiteName</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700" rel="stylesheet">
    @Styles.Render("~/assets/vegetarian/css/styles.css")
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="description" content="" />
</head>
<body class="@ViewBag.ClassPage">

    <div class="header bg_header" id="home">
        <div class="container">
            <div class="col-md-12">
                @{ Html.RenderAction("_Header", "Home");}
            </div>
            @if (!String.IsNullOrWhiteSpace(controllerName) && controllerName != "Contact")
            {
                <div class="">
                    @{ Html.RenderAction("_Sliders", "Home"); }
                </div>
            }
            
        </div>
    </div>


    <article>
        <section class="content gallery pad1" style="padding:0">
            <div class="midle_main_idclass fix1200_cus1">

                @if (!String.IsNullOrWhiteSpace(controllerName) && (controllerName == "Contact" || controllerName == "Home"))
                {
                    <div class="">
                        @RenderBody()
                    </div>
                }
                else
                {
                    <div class="dv-dssp">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-9 col-sm-8 col-xs-12 col-min-12 dv-ndung-sptt nobostrap">
                                    <h2 class="type text-center bre_sptintuc">@ViewBag.Title</h2>
                                    @RenderBody()
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-12 col-min-12 single-page-right right">                                    
                                    @Html.Partial("_MenuLeft")
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </article>



    @*@{ Html.RenderAction("_Sliders", "Home");}*@
    @*<div id="wrapper-page" class="container">
        @{ Html.RenderAction("_Header", "Home");}
        <div class="row">
            @RenderSection("slide", required: false)
        </div>
    </div>*@

    @{ Html.RenderAction("_Footer", "Home");}
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @RenderSection("scripts", required: false)
    @RenderSection("scriptsFooter", required: false)
    @*add facebook*@
    @*<script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '173576316598353',
                    autoLogAppEvents: true,
                    xfbml: true,
                    version: 'v2.12'
                });
            };
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/vi_VN/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-customerchat"
             page_id="713775042048449"
             logged_in_greeting="Chào bạn. Chúng tôi có thể giúp được gì ?"
             logged_out_greeting="Chào bạn. Chúng tôi có thể giúp được gì ?">
        </div>*@
</body>
</html>