@using OnlineShop.Helpers
@{
    Layout = null;
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @SiteConfiguration.SiteName</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700" rel="stylesheet">
    @Styles.Render("~/assets/ishop/css/Styles.css")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="description" content="" />
</head>
<body>
    @*@{ Html.RenderAction("_Sliders", "Home");}*@
    <div id="wrapper-page" class="container">
        @{ Html.RenderAction("_Header", "Home");}       
        
        @if (!String.IsNullOrWhiteSpace(controllerName) && controllerName != "Contact")
       {
            <div class="panel">
                @{ Html.RenderAction("_Sliders", "Home"); }
            </div>
        }

        <div class="row">
            @RenderSection("slide", required: false)
        </div>

        @*<div id="box-left" class="col-md-3">
            @{ Html.RenderAction("_MenuLeft", "Home");}
        </div>*@

        <div id="box-content" class="row">            
            <div id="box-right" class="col-md-12">
                @RenderBody()
            </div>
        </div>

    </div>

    @{ Html.RenderAction("_Footer", "Home");}

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/smartmenus")
    @RenderSection("scripts", required: false)

    @RenderSection("scriptsFooter", required: false)
    <!-- SmartMenus jQuery init -->
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });
    </script>
@*add facebook*@
    @*<script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '173576316598353',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v2.12'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/vi_VN/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-customerchat"
         page_id="713775042048449"
         logged_in_greeting="Chào bạn. Chúng tôi có thể giúp được gì ?"
         logged_out_greeting="Chào bạn. Chúng tôi có thể giúp được gì ?">
    </div>*@
</body>
</html>
