@model List<Model.EF.Slide>
@{
    var slides = (List<Model.EF.Slide>)ViewBag.Slides;
    var dot = 0;
    var counter = 0;
}
<section id="slider" class="slider box-slideshow">
    <div class="row">
         <div class="col-md-3">
             @Html.Action("_MenuCatProduct", "Home")
         </div>
        <div class="col-md-9">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    @foreach (var item in Model)
                    {
                        <li data-target="#carousel-example-generic" data-slide-to="@dot" class="@(dot==0?"active":"")"></li>
                        dot++;
                    }
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @foreach (var item in Model)
                    {
                        <div class="item @(counter==0?"active":"") text-center" >
                            <img src="@item.Image" />
                        </div>
                        counter++;
                    }

                </div>
                <!-- Controls -->
                @*<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="fa fa-angle-left fa-5x" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="fa fa-angle-right fa-5x" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>*@
            </div>
        </div>
    </div>
</section>

