@model List<Model.EF.Menu>
@{
    var baseurl = Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~");
    int step = 1;
    int total = Model.Count();
}
<div class="menu menu_desktop">
    <ul>
        <li class=" active"><a class="" href="@baseurl"><span>Trang Chủ</span></a></li>
        @foreach (var item in Model)
        {
            <li class="item-@item.ID @(step==total?"last":"") "><a class="" href="@baseurl@item.Link" target="@item.Target"><span>@item.Text</span></a></li>
            step++;
        }
    </ul>
</div>

<div class="dv-mnmb mobile menu_mobile">
    <a class="a_home" href="@Url.Action("Index","Home")">trang chủ</a>
    <div id="dl-menu" class="dl-menuwrapper">
        <button class="dl-trigger cur "></button>
        <div class="clear"></div>
        <ul class="dl-menu">
            @*
                <!--  -->
                <li class=" active"><a class="" href="#"><span>TRANG CHỦ</span></a></li>
                <li class=""><a class="" href="#"><span>Giới thiệu</span></a></li>
                <li class=""><a class="" href="#"><span>Dịch vụ</span></a></li>
                <li class=""><a class="" href="#"><span>Tuyển dụng</span></a></li>
                <li class=""><a class="" href="#"><span>Liên hệ</span></a></li>
                        <!--  -->
            *@
            @foreach (var item in Model)
            {
                <li class="item-@item.ID @(step==total?"last":"") "><a class="" href="@baseurl@item.Link" target="@item.Target"><span>@item.Text</span></a></li>
                step++;
            }
        </ul>
    </div>
    <div class="clear"></div>
</div>