@using Model.ViewModel
@using OnlineShop.Helpers
@model List<CartItem>
@{
    decimal subtotal = 0;
    var cartItems = new List<CartItem>();
    if (Model != null && Model.Count() > 0)
    {
        cartItems = Model.Where(w => w.isProduct == true).ToList();
        subtotal = Model.Where(w => w.isProduct == true).Sum(s => s.Price * s.Quantity);
    }
}

<div class="table-responsive cart_info">

    @if (Model != null)
    {
        <table class="table table-condensed" width="100%">
            <thead>
                <tr class="cart_menu">
                    <td class="image" colspan="2" align="center">Sản phẩm</td>
                    <td class="price" align="center">Giá</td>
                    <td class="quantity" align="center">Số lượng</td>
                    <td width="150" class="total" colspan="2" align="center">Tổng</td>
                </tr>
            </thead>
            <tbody>
                @if (cartItems.Count > 0)
                {
                    foreach (var item in cartItems)
                    {
                        string link = Url.Action("Detail", "Product", new { id = item.ProductId, metatitle = item.ProductAlias });
                        <tr>
                            <td class="cart_product" align="center">
                                <a href="@link" title="@item.ProductName">
                                    @{
                                        // setup image thumbnail
                                        string imagename = Url.ImageProductMin(item.ProductImage);
                                        if (!System.IO.File.Exists(Path.Combine(Server.MapPath(imagename))))
                                        {
                                            imagename = Url.ImageProductMin("coming-soon.jpg");
                                        }
                                    }
                                    <img src="@imagename" alt="@item.ProductName" width="80">
                                </a>
                            </td>
                            <td class="cart_description" align="left">
                                <a href="@link" title="@item.ProductName">@item.ProductName</a>
                            </td>
                            <td class="cart_price" align="right">
                                @item.Price.ToString("N0") VNĐ
                            </td>
                            <td align="center">
                                @item.Quantity
                            </td>
                            <td class="cart_total" align="right" colspan="1">
                                <p class="cart_total_price">@((item.Price * item.Quantity).ToString("N0")) VNĐ</p>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3">&nbsp;</td>
                        <td colspan="2" align="right">
                            <br />

                            <table class="table table-condensed total-result" width="250" style="width:280px;">
                                <tr>
                                    <td>Tiền hàng</td>
                                    <td align="right">@subtotal.ToString("N0") VNĐ</td>
                                </tr>
                                <tr class="shipping-cost">
                                    <td>Tiền vận chuyển</td>
                                    <td align="right">
                                        @{ 
                                            var freightOrder = Model.FirstOrDefault(f => f.isProduct == false);
                                            
                                        }
                                        @if (freightOrder !=null && freightOrder.Price == 0 && subtotal>=SiteConfiguration.SubTotalFreeFreight)
                                        {
                                            <span>Miễn phí <sub>*</sub></span>
                                        }
                                        else
                                        {
                                            <span>Liên hệ</span>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td>Tổng đơn hàng tạm tính</td>
                                    <td align="right"><span>@subtotal.ToString("N0") VNĐ</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="right">
                                        <br />
                                        <button class="btn btn-danger" type="submit">Đặt hàng</button>
                                        <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Tiếp tục mua hàng</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="" colspan="5">
                            <p>
                                Không có sản phẩm nào trong giỏ hàng của bạn
                            </p>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    }
    else
    {
        <p>Bạn cần thêm sản phẩm vào giỏ hàng.</p>
    }
</div>
