@using OnlineShop.Helpers
@using System.Text.RegularExpressions
@using Model.ViewModel
@model OrderViewModel
@{
    Layout = null;

    if (Model != null && Model.Items.Count() > 0)
    {
        var order = Model.Items;
        string hiText = "";
        var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
        var baseurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
        var mailto = "mailto:" + SiteConfiguration.EmailSite + "?subject=" + SiteConfiguration.SiteName + "Đơn hàng số" + Model.ID;

        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
        <html>
        <head>
            <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
            <title>@(Model.ID>0 ? "Đơn hàng của bạn" : Model.ID.ToString()) - #@Model.ID</title>
            <style type="text/css">
                a:hover {
                    text-decoration: none !important;
                }
            </style>
        </head>
        <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #FFFFFF;" bgcolor="#FFFFFF" leftmargin="0">
            <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#FFFFFF">
                <tr>
                    <td align="center">
                        <table cellspacing="0" border="0" cellpadding="0" width="600" bgcolor="#FFFFFF">
                            @*<tr>
                                <td>                                    
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td valign="middle" align="center" height="45">
                                                <p style="font-size: 12px; line-height: 24px; font-family: Arial, 'Times New Roman', serif; color: #b0a08b; margin: 0px;">
                                                    Is this email not displaying correctly? <a style="color: #1caed5; text-decoration: none; font-size:12px;" href="@Url.AbsoluteAction("ViewOrder", "Site", new {ordernumber=Model.ID, email = Model.Email})">Try the web version.</a>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>*@
                            <tr>
                                <td>
                                    <!--header-->
                                    <table style="margin:0 auto" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <table width="600" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="center" valign="middle" height="150">
                                                            <a href="@baseurl" target="_blank" title="@SiteConfiguration.SiteName">
                                                                <img src="@(baseurl + Url.Image("mail_header.jpg"))" alt="image dsc" style="display:block;border:0" width="600" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="middle" height="40" style="font-size: 26px; line-height: 30px; font-family: Arial, Tahoma, serif; color: #444; font-weight:bold;">
                                                            XÁC NHẬN ĐƠN HÀNG
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table><!--/header-->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <!--email container-->
                                    <table cellspacing="0" border="0" align="center" cellpadding="0" width="600">
                                        <tr>
                                            <td align="center">
                                                <!--section 1-->
                                                <table cellspacing="0" border="0" cellpadding="0" width="560">
                                                    <tr>
                                                        <td valign="top" align="left">
                                                            @if (String.IsNullOrWhiteSpace(Model.FullName))
                                                            {
                                                                hiText = "Kính chào quý khách, ";
                                                            }
                                                            else
                                                            {
                                                                hiText = String.Format("Kính chào quý khách {0}, ", Model.FullName);
                                                            }
                                                            <h1 style="font-size: 16px; font-weight: normal; color: #555555; font-family: Arial, Helvetica, sans-serif; margin-bottom: 20px;">
                                                                @Html.Raw(hiText)
                                                            </h1>
                                                            @*<p style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #333333; ">
                                                                Đơn hàng đã sẵn sàng để giao đến quý khách @Model.FullName !
                                                            </p>*@                                                       
                                                            <p style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #333333; ">
                                                                @SiteConfiguration.SiteName đã nhận đơn hàng @Model.ID ! Chúng tôi sẽ xác nhận đơn hàng trong thời gian sớm nhất
                                                            </p>
                                                            <br />
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--/section 1-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table width="560" style="border-collapse: collapse;">
                                                    <!--add here-->
                                                    <tr>
                                                        <td valign="top" align="left">
                                                            <table width="270" style="border-collapse: collapse; background-color: #ffffff; border:1px solid #e5e5e5;" cellpadding="5">
                                                                <tr>
                                                                    <td valign="middle" align="left" height="25" style="font-size: 14px; font-family: arial; color: #444; font-weight: bold;">
                                                                        &nbsp;&nbsp;THÔNG TIN ĐƠN HÀNG 
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="120" valign="top" style="font-size: 12px; font-family: arial; color: #606060; line-height:22px; border-top:1px solid #e5e5e5;">
                                                                        <div style="margin-left:8px;">
                                                                            Mã đơn hàng #: @Model.ID <br />
                                                                            Ngày Order: @Model.CreateDate.ToString("dd/MM/yyyy hh:mm tt") <br />
                                                                            Phương thức thanh toán: <strong>Thanh toán khi nhận hàng</strong><br />                                                                        
                                                                            Trạng thái: <strong>@Model.Status</strong>                                                                        
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width="20"></td>
                                                        <td valign="top" align="left">
                                                            <table width="270" style="border-collapse: collapse; background-color: #ffffff; border:1px solid #e5e5e5;" cellpadding="5">
                                                                <tr>
                                                                    <td valign="middle" align="left" height="25" style="font-size: 14px; font-family: arial; color: #444; font-weight: bold;">
                                                                        &nbsp;&nbsp;THÔNG TIN GIAO HÀNG
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="120" valign="top" style="font-size: 12px; font-family: arial; color: #606060; line-height:22px;  border-top:1px solid #e5e5e5;">
                                                                        <div style="margin-left:8px;">
                                                                            Họ và tên: @Model.FullName <br />
                                                                            Phone: @Model.Phone <br />
                                                                            Email: <strong>@Model.Email</strong> <br />
                                                                            Địa chỉ: <strong>@Model.Address</strong>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <!--Items selected-->
                                                <table cellspacing="0" border="0" cellpadding="0" width="100%">
                                                    <tr>
                                                        <td align="center" valign="top">
                                                            <table cellspacing="0" border="0" cellpadding="5" width="560" style="background-color: #ffffff; border:1px solid #e5e5e5;">
                                                                <tr id="table-header">
                                                                    <th width="280" height="30" colspan="2" align="left" style="font-size: 13px; font-family: arial; font-weight:bold; color:#333;">&nbsp;&nbsp;Sản phẩm</th>                                                                    
                                                                    <th width="100" height="30" align="center" style="font-size: 13px; font-family: arial; font-weight:bold; color:#333;">Số lượng</th>
                                                                    <th width="100" height="30" align="center" style="font-size: 13px; font-family: arial; font-weight:bold; color:#333;">Đơn giá</th>
                                                                    <th width="100" height="30" align="right" style="font-size: 13px; font-family: arial; font-weight:bold; color:#333;">Tạm tính&nbsp;&nbsp;</th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="6" height="5" style="border-top:1px solid #e5e5e5;"></td>
                                                                </tr>
                                                                @foreach (var item in Model.Items)
                                                                {
                                                                    var linetotal = item.Quantity * item.Price;
                                                                    <tr>
                                                                        <td align="center" valign="top">
                                                                            @{
                                                                                string imageName = "nullimage.jpg";                                                                                
                                                                                if (!String.IsNullOrWhiteSpace(item.ProductImage))
                                                                                {
                                                                                    imageName = item.ProductImage;
                                                                                }
                                                                                string urlImage = Url.Content("~/Content/images/Products/" + imageName);
                                                                                if (!System.IO.File.Exists(Path.Combine(Server.MapPath(urlImage))))
                                                                                {
                                                                                    urlImage = Url.Image("comingsoonx60.jpg", true);
                                                                                }
                                                                            }
                                                                            <img src="@(baseurl + urlImage)" alt="" width="60" class="imgProduct" style="border:1px solid #cccccc" />
                                                                        </td>
                                                                        <td valign="top" style="font-size: 12px; font-weight:bold; line-height: 16px;font-family: Arial, Helvetica, sans-serif; color: #606060; margin: 0px;">@item.ProductName</td>                                                                        
                                                                        <td valign="top" style="text-align: center;font-size: 12px; line-height: 16px; font-family: Arial, Helvetica, sans-serif; color: #606060; margin: 0px;">@item.Quantity</td>
                                                                        <td valign="top" style="text-align: right;font-size: 12px; line-height: 16px; font-family: Arial, Helvetica, sans-serif; color: #606060; margin: 0px;">@String.Format("{0:N0}", (item.Price))</td>
                                                                        <td valign="top" style="text-align: right;font-size: 12px; line-height: 16px; font-family: Arial, Helvetica, sans-serif; color: #606060; margin: 0px;">@String.Format("{0:N0}", linetotal)&nbsp;&nbsp;</td>
                                                                    </tr>        
                                                                }                                                                     
                                                                <tr>
                                                                    <td colspan="5" height="1" align="center">
                                                                        <hr style="border: 0; border-bottom: 1px solid #e5e5e5; width:99%; margin:0;" />
                                                                    </td>
                                                                </tr>                                                           
                                                                <tr>
                                                                    <td height="40" colspan="3" valign="top" align="right" style="font-size: 16px; font-weight:bold; text-align: right; font-family: Arial; color: #1b1b1b;">Tổng đơn hàng:</td>                                                                    
                                                                    <td height="40" colspan="2" valign="top" style="font-weight:bold; font-size: 16px; text-align: right; font-family: Arial, Helvetica, sans-serif; color: #1b1b1b;">@String.Format("{0:N0}", Model.Items.Sum(S=>S.Quantity*S.Price)) VNĐ&nbsp;&nbsp;</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--Items selected end-->
                                            </td>
                                        </tr>                                     
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                    </table>
                                    <!--/email container-->
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <!--footer-->
                                    <table width="100%" style="border-collapse: collapse; background-color: #009443;">
                                        <tr id="icon-footer">
                                            <td align="center">
                                                <table width="560" id="order-confirm-footer" style="border-collapse: collapse; font-family: arial; font-size: 12px;">
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top">
                                                            <table width="520" style="border-collapse: collapse;" cellpadding="0">
                                                                <tr>                                                                   
                                                                    <td  valign="middle" align="center" style="font-size: 12px; font-weight: bold; font-family: arial; color: #ffffff; text-decoration: none; ">                                                                                                                                               
                                                                        @SiteConfiguration.Phones <br />
                                                                        @SiteConfiguration.Address <br />
                                                                        <a style="font-size: 12px; font-weight: bold; font-family: arial; color: #ffffff; text-decoration: none; display: block;" href="@mailto">@SiteConfiguration.EmailSite</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="font-size: 12px; font-family: arial; color: #ffffff; font-weight: bold; ">
                                                                        <br />
                                                                        &copy; @DateTime.Now.Year <a href="@SiteConfiguration.SiteUrl" target="_blank" style="font-size: 12px; font-weight: bold; font-family: arial; color: #ffffff; text-decoration: none">@SiteConfiguration.SiteName</a>. All rights reserved.
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/footer-->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </body>
    </html>
    }
    else
    {
        <center>
            <h2 style="padding: 20px">Sorry! This order is not found!</h2>
        </center>
    }
}
