@model List<OnlineShop.Models.CartItem>

@if (Model.Count > 0)
{
    using (Html.BeginForm("Update", "Cart", FormMethod.Post, new { @class = "viewcart-box", role = "form" }))
    {
            @Html.AntiForgeryToken()
            <table class="CartDetail table table-hover">
                <thead>
                    <tr>
                        <td align="center">Sản Phẩm</td>                        
                        <td align="center">Tên SP</td>
                        <td align="center">Số lượng</td>
                        <td align="center">Đơn giá</td>
                        <td align="center">Thành tiền</td>
                        <td width="50"></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="cartItem">
                            <td><img src="@Url.Content("~/Images/Products/min/" + item.Product.Image)" width="80" /></td>               
                            <td>@item.Product.Name</td>
                            <td align="center"><input type="number" name="quantity[]" class="Qty" data-id="@item.Product.ID" value="@item.Quantity" /></td>
                            <td align="right">@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                            <td align="right">@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                            <td align="center"><a href="#" data-id="@item.Product.ID" class="btn-delete"><i class="fa fa-trash"></i> </a></td>
                        </tr>
                    }              
                    <tr>
                        <td colspan="4" align="right" class="">
                            Tổng tiền
                        </td>
                        <td align="right">
                            @Model.Sum(i=>i.Quantity*i.Product.Price).Value.ToString("N0")
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <button id="btnUpdate" class="btn" type="submit">Cập nhật giỏ hàng</button>
                <a href="@Url.Action("Payment")" id="btnPayment" class="btn btn-danger">Thanh toán</a>
            </div>
        }
}
else
{
    <p class="alert alert-warning">
        Chưa có sản phẩm nào trong giỏ hàng
    </p>
}
