@using Model.ViewModel
@using Model.Extension
@using SiteHelper = OnlineShop.Helpers
@model CheckoutModel
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_LayoutVegetarian.cshtml";
}
<div id="cart_items" class="content">


    @using (Html.BeginForm("Payment", "Cart", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="payment-info text-warning">
            @SiteHelper.SiteConfiguration.PaymentMethodInfo
        </div>
        <br />
        <div class="section group">
            @Html.AntiForgeryToken()
            <div class="shopper-informations">
                <div class="">
                    <div class="col-sm-6 clearfix">
                        <div class="bill-to">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ShippingDetail.Fullname)*
                                @Html.TextBoxFor(m => m.ShippingDetail.Fullname, new { @class = "form-control", placeholder = "Nhập họ và tên" })
                                @Html.ValidationMessageFor(model => model.ShippingDetail.Fullname, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ShippingDetail.Phone)*
                                @Html.TextBoxFor(m => m.ShippingDetail.Phone, new { @class = "form-control", placeholder = "Nhập Điện thoại" })
                                @Html.ValidationMessageFor(model => model.ShippingDetail.Phone, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ShippingDetail.Email)*
                                @Html.TextBoxFor(m => m.ShippingDetail.Email, new { @class = "form-control", placeholder = "Nhập Email" })
                                @Html.ValidationMessageFor(model => model.ShippingDetail.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-offset-1">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ShippingDetail.ProvinceId)*
                            @Html.DropDownListFor(model => model.ShippingDetail.ProvinceId, ListExtensions.ProvinceList, "-- Tỉnh thành --", new { @class = "form-control ", id = "provinces", onchange = "buildDistricts();" })
                            @Html.ValidationMessageFor(model => model.ShippingDetail.ProvinceId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ShippingDetail.DistrictId)*
                            <select class="form-control" id="ddlDistricts" name="ShippingDetail.DistrictId">
                                <option value="0">-- Quận / Huyện  --</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.ShippingDetail.DistrictId, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group">
                                @Html.LabelFor(m => m.ShippingDetail.WardId)
                                <select class="form-control" id="ddlWard">
                                    <option>Chọn Phường xã</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.ShippingDetail.WardId, "", new { @class = "text-danger" })
                            </div>*@
                        <div class="form-group">
                            @Html.LabelFor(m => m.ShippingDetail.Address)*
                            @Html.TextBoxFor(m => m.ShippingDetail.Address, new { @class = "form-control", placeholder = "Nhập Địa chỉ" })
                            @Html.ValidationMessageFor(model => model.ShippingDetail.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ShippingDetail.Note)
                            @Html.TextAreaFor(m => m.ShippingDetail.Note, 5, 5, new { @class = "form-control", placeholder = "Những yêu cầu khác nếu có ..." })
                            @Html.ValidationMessageFor(model => model.ShippingDetail.Note, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>

        { Html.RenderAction("PartialViewCartCheckOut", "Cart"); }

    }


    @section scriptsFooter{
        <script>

        function buildDistricts()
        {
            var url = '@Url.Action("ListDistricts")';
            var PDD= $("#ddlDistricts");
            var idProvince= $("#provinces").val();
            $.getJSON(url, { id: idProvince}, function (response) {

                PDD.empty();
                $.each(response.result, function (index, item) {
                    //debugger;
                    var p = new Option(item.Text, item.Value);
                    PDD.append(p);
                });

            });
        }
        </script>
    }

</div>
