@using Common
@using Model.Extension
@using Model.ViewModel
@model ContentViewModel
@{
    var actionStaus = (ActionResultHelper)Session["ACTION_STATUS"];
    string formAction = String.IsNullOrWhiteSpace(ViewBag.Action) ? "ContentEdit" : ViewBag.Action.ToString();
    Breadcrumb breadcrumb = new Breadcrumb();
}
@Html.Partial("_Breadcrumb", breadcrumb)
@using (Html.BeginForm(formAction, "CMS", FormMethod.Post, new { @class = "form-basic", }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row form-horizontal">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <i class="icon-note"></i> @ViewBag.Title

                            @if (!String.IsNullOrWhiteSpace(formAction) && formAction == "ContentEdit")
                            {
                                <div class="card-actions">
                                    <a href="#" onclick="window.location = '@Url.Action("ContentCreate")';">
                                        <small class="fa fa-plus"></small>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="card-block">

                            @if (actionStaus != null && !String.IsNullOrWhiteSpace(actionStaus.ErrorReason))
                            {
                                if (actionStaus.ActionStatus == ResultSubmit.failed)
                                {
                                    @Html.Raw(actionStaus.ErrorReason);
                                }
                                else
                                {
                                    @Html.Raw(actionStaus.ErrorReason);
                                }
                                Session["ACTION_STATUS"] = null;
                            }

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Name, new { @class = "form-control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.MetaTitle, new { @class = "form-control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.CategoryID, new { @class = "form-control-label col-md-3" })
                                <div class="col-md-9">                                    
                                    @Html.DropDownListFor(model => model.CategoryID, ListExtensions.CategoryList, new { @class = "form-control select2-single", id= "select2-1" })
                                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Description, new { @class = "form-control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Description, 5, 10,new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Detail, new { @class = "form-control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", id= "editor" })
                                    @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                                </div>
                            </div>                              

                            <div class="form-group row">
                                <div class="offset-md-3 col-md-8">                                    
                                    <input type="submit" value="Lưu lại" class="btn btn-default" name="save" />
                                    <input type="submit" value="Lưu và Đóng" class="btn btn-primary" name="saveclose" />
                                    <input type="submit" value="Lưu và Tạo mới" class="btn btn-primary" name="savenew" />
                                    <a class="btn btn-warning" onclick="window.location.reload();">Reset</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            SEO
                        </div>
                        <div class="card-block">

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Status, new { @class = "form-control-label col-md-4" })
                                <div class="col-md-8">

                                    <label class="radio-inline" for="inline-radio1">
                                        @*<input type="radio" id="inline-radio1" name="inline-radios" value="option1">One*@
                                        @Html.RadioButtonFor(m => m.Status, nameof(StatusEntity.Active), new { @class = "radio-inline" })
                                        @nameof(StatusEntity.Active)
                                    </label>
                                    &nbsp;
                                    <label class="radio-inline" for="inline-radio2">
                                        @Html.RadioButtonFor(m => m.Status, nameof(StatusEntity.Locked), new { @class = "radio-inline" })
                                        @nameof(StatusEntity.Locked)
                                    </label>
                                    &nbsp;
                                    <label class="radio-inline" for="inline-radio3">

                                        @Html.RadioButtonFor(m => m.Status, nameof(StatusEntity.Deleted), new { @class = "radio-inline" })
                                        @nameof(StatusEntity.Deleted)
                                    </label>

                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Warranty, new { @class = "form-control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Warranty, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Warranty, "", new { @class = "text-danger" })
                                </div>
                            </div>                            

                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="file-input">File input</label>
                                <div class="col-md-8">
                                    <input type="file" id="file-input">
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.MetaKeywords, new { @class = "form-control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MetaKeywords, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.MetaDescriptions, new { @class = "form-control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.MetaDescriptions, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MetaDescriptions, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.CreatedByName, new { @class = "form-control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.CreatedByName, new { @class = "form-control", @disabled = "true" })
                                    @Html.ValidationMessageFor(model => model.CreatedByName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.CreatedDate, new { @class = "form-control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", @disabled = "true" })
                                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ModifiedByName, new { @class = "form-control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ModifiedByName, new { @class = "form-control", @disabled = "true" })
                                    @Html.ValidationMessageFor(model => model.ModifiedByName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ModifiedDate, new { @class = "form-control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ModifiedDate, new { @class = "form-control", @disabled = "true" })
                                    @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    @Scripts.Render("~/bundles/js/form")
<script>
    initSample();
</script>
}
