@using Model.EF
@using Model.ViewModel
@using PagedList.Mvc

@model PagedList.IPagedList<v_Content>

@{
    Breadcrumb breadcrumb = new Breadcrumb();
}

@Html.Partial("_Breadcrumb", breadcrumb)

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header">
                        Chủ đề:
                        <strong>@ViewBag.Title</strong>
                        @*<a href="#" class="btn btn-sm btn-info float-right" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</a>
                        <a href="#" class="btn btn-sm btn-info float-right"><i class="fa fa-save"></i> Save</a>*@
                    </div>

                    <div class="card-block">
                        <div class="row">
                            @if (Model.Count() > 0)
                            {
                                <div class="col-sm-12">
                                    <ul class="list-group">
                                        @foreach (var item in Model)
                                        {
                                            <li class="list-group-item flex-column align-items-start">

                                                <div class="d-flex mt-1 w-100 justify-content-between">
                                                    <a href="@Url.Action("ContentDetail", new { id = item.ID, alias = item.MetaTitle, CategoryAlias = item.CategoryAlias })" class="text-de text-gray-dark">
                                                        <h5 class="">@item.Name</h5> 
                                                    </a>       
                                                    <div class="">
                                                        <i class="fa fa-user fa-lg"></i>&nbsp;@item.ModifiedByName
                                                        &nbsp;&nbsp;
                                                        <i class="fa fa-calendar fa-lg"></i>&nbsp;@item.ModifiedDate.ToShortDateString()
                                                        &nbsp;&nbsp;
                                                        <i class="fa fa-user fa-eye"></i>&nbsp;@item.ViewCount
                                                    </div>
                                                </div>
                                                <div class="" style="margin-bottom:10px;">
                                                    <i class="fa fa-tags fa-fw"></i>
                                                    <a href="#" class="badge badge-pill badge-default">Secondary</a>
                                                    <a href="#" class="badge badge-pill badge-default">Secondary</a>
                                                </div>
                                                <div class="mb-1 text-gray-dark">
                                                    @item.Description
                                                </div>
                                                <a href="@Url.Action("ContentDetail", new { id = item.ID, alias = item.MetaTitle, CategoryAlias = item.CategoryAlias })" class=" btn btn-outline-primary">Xem thêm</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-sm-12">
                                    <br />
                                    @Html.PagedListPager(Model, page => Url.Action("Detail", new { page, @Id = Model.FirstOrDefault().CategoryID }))
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-12">
                                    Không tìm thấy bài viết nào trong danh mục này
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>