@using Common
@using cPanel.Helpers
@model Model.ViewModel.LoginModel
@{
    Layout = null;
    ViewBag.Title = "Login";
    var actionStaus = (ActionResultHelper)Session["ACTION_STATUS"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@SiteConfiguration.MetaDescription">
    <meta name="author" content="@SiteConfiguration.Author">
    <meta name="keyword" content="@SiteConfiguration.MetaKeyword">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <title>@ViewBag.Title - @SiteConfiguration.SiteName</title>
    @Styles.Render("~/Content/styles")
</head>

<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                            <h1>Đăng Nhập</h1>
                            <p class="text-muted">Dùng tài khoản quản trị website</p>
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" });

                                <div class="input-group mb-1">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>                                    
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                                
                                <div class="input-group mb-1">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })                                    
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                
                                <div class="input-group mb-1 text-right"> 
                                    <label class="checkbox-inline">
                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "switch-input" }) &nbsp;                                        
                                        Remember Me
                                    </label>                                     
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-2">Login</button>                                        
                                    </div>
                                    <div class="col-6 text-right">
                                        <a href="#" class="btn btn-link px-0">Forgot password?</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/adminloginjs/scripts")
    @Scripts.Render("~/bundles/jqueryval")
    
    @*
        <!-- Bootstrap and necessary plugins -->
        <script src="js/libs/jquery.min.js"></script>
        <script src="js/libs/tether.min.js"></script>
        <script src="js/libs/bootstrap.min.js"></script>
    *@

</body>
</html>
