@using Model.ViewModel
@model ProductsView
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_LayoutVegetarian.cshtml";
    
}

<div class="product-model">
    <div class="items-sec bre_viewpro view_product_sp">
        @using (Html.BeginForm("AddItem", "Cart", FormMethod.Post, new { @class = "ProductDetail", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.ProductDetailId)


            <div class="main_content_top main_content_top_cus1">

                <div class="simpleLens-gallery-container main_col_left main_col_left_cus1">
                    @{
                        // setup image thumbnail
                        string imagename = Url.ImageProductLarge(Model.Image);
                        if (!System.IO.File.Exists(Path.Combine(Server.MapPath(imagename))))
                        {
                            imagename = Url.ImageProductLarge("coming-soon.jpg");
                        }
                    }
                    <img id="ViewImg" class="img-responsive" src="@imagename" alt="">
                </div>

                <div class="main_col_right main_col_right_cus1">

                    @*<h2 class="main_right_title">@Model.Name</h2>*@

                    @if (Model.ProductDetail.Count > 1)
                    {
                        <div class="product-detail">

                            <ul class="list-inline">
                                <li class="Bold">Trọng lượng: </li>
                                @foreach (var item in Model.ProductDetail)
                                {
                                    <li class="prodetail-item" data-price="" data-prodetail="">
                                        <a href="@Url.Action("Detail",new { id = Model.ID, ProductDetailId=item.ProductDetailId})">
                                            @if (item.ProductWeight >= 1000)
                                            {
                                                <span class="@(item.ProductDetailId==Model.ProductDetailId?"text-active":"")">@(item.ProductWeight / 1000) Kg</span>
                                            }
                                            else
                                            {
                                                <span class="@(item.ProductDetailId==Model.ProductDetailId?"text-active":"")">@item.ProductWeight G</span>
                                            }
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    <div class="gia_thanhtien gia_thanhtien_cus1">
                        @*Giá:*@
                        <span class="price glo-tgiagoc"> @(Model.ProductPrice > 0 ? Model.ProductPrice.ToString("N0") + " VNĐ" : "Liên hệ") </span>
                    </div>
                    <div class="product-shortdesc">
                        @Html.Raw(Model.Description)
                    </div>
                    @if (Model.ProductPrice > 0)
                    {
                        <div class="product-quantity">
                            <div class="numbers-row">
                                <div class="buttontext left" onclick="ADD_num_quantity('-')">-</div>
                                <input id="input-quantity" name="quantity" value="1" class="intext left" type="number" maxlength="2">
                                <div class="buttontext left" onclick="ADD_num_quantity('+')">+</div>

                            </div>
                        </div>
                        <div class="product-bottom">
                            <button type="submit" class="button btn-cart shopng-btn">Thêm vào giỏ</button>
                        </div>
                    }


                </div>
                <div class="clearfix"></div>
            </div>
            <div class="main_content_body main_content_body_cus1">
                <label class="title-description">Mô tả: </label>
                <div class="content-description">
                    @Html.Raw(Model.Detail)
                </div>
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>

@section scriptsFooter{
    <script>
        function ADD_num_quantity(loai) {
            var num = $("#input-quantity").val();
            if (isNaN(num)) {
                num = 1;
            }
            if (loai === '-' && num > 1) num--;
            else if (loai == '+' && num < 100000) num++;
            $("#input-quantity").val(num);
        }
    </script>
} 