@using OnlineShop.Helpers
@using ModelExtension = Model.Extension
@using Model.ViewModel
@using Common
@model ProductFilter

<div class="mb-1">
    @using (Html.BeginForm("Index", "Products", FormMethod.Post, new { @class = "form-basic" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-6">
                <label>Tìm kiếm</label>
                <div class="input-group" role="group" aria-label="...">
                    @Html.TextBoxFor(m => m.SearchString, new { @class = "form-control", placeholder = "Nhập tên sản phẩm..." })

                    <div class="input-group-btn">
                        <div class="input-group">
                            @Html.DropDownListFor(m => m.CategoryId, ModelExtension.ListExtensions.ProductCategoriesByCatalogueId(SiteConfiguration.CatalogueId), new { @class = "form-control select1-single", id = "select2-2", onchange = "this.form.submit();" })
                        </div>
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" href="@Url.Action("Create", "Products")" title="Thêm sản phẩm nhóm">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 text-right">
                
                <div class="input-group">
                    @*@Html.DropDownListFor(m => m.Status, ListExtensions.StatusEntityList, new { @class = "form-control select2-single", id = "select2-1", onchange = "this.form.submit();" })*@
                    @{
                        var statusList = ModelExtension.ListExtensions.StatusEntityList.Where(w => w.Value != "Deleted").ToList();
                        statusList.RemoveAt(0);
                        foreach (var item in statusList)
                        {
                            var selected = Model.Status.Any(o => o.ToString() == item.Value) ? "checked=checked" : string.Empty;
                            <label class="checkbox inline">
                                <input type="checkbox" name="Status" value="@item.Value" @selected>
                                <span>@item.Text &nbsp;&nbsp;&nbsp;</span>
                            </label>
                        }
                    }
                </div>
            </div>

        </div>
    }
</div>
