@using OnlineShop.Helpers
@using Common
@using ModelExtentions = Model.Extension
@model Model.ViewModel.ProductsView
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
    var actionStaus = (ActionResultHelper)Session["ACTION_STATUS"];
}

@section jsFooter{
    <script>
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/assets/admin/js/plugins/ckeditor/config.js',
        });
    </script>
}
@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { @class = "myclass", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Thông tin chính
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">

                        @if (actionStaus != null && !String.IsNullOrWhiteSpace(actionStaus.ErrorReason))
                        {
                            if (actionStaus.ActionStatus == ResultSubmit.failed)
                            {
                                @Html.Raw(actionStaus.ErrorReason);
                            }
                            else
                            {
                                @Html.Raw(actionStaus.ErrorReason);
                            }
                            Session["ACTION_STATUS"] = null;
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tabproduct" aria-controls="tabproduct" role="tab" data-toggle="tab">Sản phẩm</a></li>
                            @*<li role="presentation"><a href="#tabprices" aria-controls="tabprices" role="tab" data-toggle="tab">Giá và Trọng lượng</a></li>*@
                            <li role="presentation"><a href="#tabimages" aria-controls="tabimages" role="tab" data-toggle="tab">Hình ảnh</a></li>
                            <li role="presentation"><a href="#tabdetail" aria-controls="tabdetail" role="tab" data-toggle="tab">Mô tả</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <br />
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tabproduct">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group hidden">
                                    @Html.LabelFor(model => model.MetaTitle, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryID, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.CategoryID, ModelExtentions.ListExtensions.CategoriesByCatalogueId(SiteConfiguration.CatalogueId), new { @class = "form-control " })
                                        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @for (int i = 0; i < Model.ProductDetail.Count; i++)
                                {
                                                            <div class="form-group box-prodetail" data-prodetail="">

                                                                @Html.LabelFor(m => m.ProductDetail[i].ProductPrice, new { @class = "control-label col-md-3" })
                                                                <div class="col-md-2">
                                                                    @Html.TextBoxFor(m => m.ProductDetail[i].ProductPrice, new { @class = "form-control" })
                                                                </div>
                                                                @Html.LabelFor(m => m.ProductDetail[i].ProductWeight, new { @class = "control-label col-md-2" })
                                                                <div class="col-md-2">
                                                                    @Html.TextBoxFor(m => m.ProductDetail[i].ProductWeight, new { @class = "form-control" })
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <a href="@Url.Action("DeleteProductDetail", new {prodetailId= Model.ProductDetail[i].ProductDetailId })" class="btn btn-default">Xóa</a>
                                                                </div>
                                                            </div>
                                                            @Html.HiddenFor(m => m.ProductDetail[i].PriceId)
                                                            @Html.HiddenFor(m => m.ProductDetail[i].ProductDetailId)
                                }

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-6">
                                        <a href="@Url.Action("CreateProductDetail",new {ProductId= Model.ID})" class="btn btn-default btn-sm">Thêm Trọng lượng và giá</a>
                                    </div>
                                </div>

                            </div>


                            <div role="tabpanel" class="tab-pane" id="tabimages">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Images, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @*@Html.TextBoxFor(model => model.Images, new { htmlAttributes = new { @class = "form-control" }, id = "txtImage" })*@

                                        <div class="input-group">
                                            <div class="input-group-btn group">
                                                <a class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title=""><i class="fa fa-eye"></i></a>
                                            </div>
                                            @Html.TextBoxFor(model => model.Images, new { @class = "form-control", @id = "txtImage", type = "file" })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                            <div role="tabpanel" class="tab-pane" id="tabdetail">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Status, new { @class = "form-control-label col-md-4" })
                                    <div class="col-md-8">

                                        <label class="radio-inline" for="inline-radio1">
                                            @*<input type="radio" id="inline-radio1" name="inline-radios" value="option1">One*@
                                            @Html.RadioButtonFor(m => m.Status, nameof(StatusEntity.Active), new { @class = "radio-inline" })
                                            @nameof(StatusEntity.Active)
                                        </label>
                                        &nbsp;
                                        <label class="radio-inline" for="inline-radio2">
                                            @Html.RadioButtonFor(m => m.Status, nameof(StatusEntity.Locked), new { @class = "radio-inline" })
                                            @nameof(StatusEntity.Locked)
                                        </label>
                                        &nbsp;
                                        <label class="radio-inline" for="inline-radio3">

                                            @Html.RadioButtonFor(m => m.Status, nameof(StatusEntity.Deleted), new { @class = "radio-inline" })
                                            @nameof(StatusEntity.Deleted)
                                        </label>

                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.Detail, new { @class = "control-label col-md-12" })*@
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", id = "txtContent" })
                                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-6">
                                    <button type="submit" class="btn btn-default">Cập nhật</button>
                                    <a class="btn btn-warning" onclick="window.location.reload();">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Meta
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Status, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShowHome, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.ShowHome, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.Raw(Model.CreatedByName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.Raw(Model.CreatedDate)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModifiedBy, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.Raw(Model.ModifiedByName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModifiedDate, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.Raw(Model.ModifiedDate)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TopHot, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.Raw(Model.TopHot)
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
}
