@using Model.ViewModel
@using Model.EF
@using System.Globalization;
@using Common
@using ModelExtentions = Model.Extension
@using OnlineShop.Helpers
@using PagedList.Mvc
@model PagedList.IPagedList<v_Product>
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
    NumberFormatInfo vnd = new CultureInfo("vi-VN", false).NumberFormat;
    var actionStaus = (ActionResultHelper)Session["ACTION_STATUS"];
    ProductFilter filter = (ProductFilter)Session["ProductFilter"];
    int pageno = (int)ViewBag.PageNumber;
    int currentno = ((pageno - 1) * 20) + 1;
}
@section header{
    Danh sách sản phẩm
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách sản phẩm
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        @if (actionStaus != null && !String.IsNullOrWhiteSpace(actionStaus.ErrorReason))
                        {
                            <div class="row">
                                <div class="col-sm-12">                                
                                    @{ 
                                        if (actionStaus.ActionStatus == ResultSubmit.failed)
                                        {
                                            @Html.Raw(actionStaus.ErrorReason);
                                        }
                                        else
                                        {
                                            @Html.Raw(actionStaus.ErrorReason);
                                        }
                                        Session["ACTION_STATUS"] = null;
                                    }
                                </div>
                            </div>                            
                        }                        
                        @{Html.RenderPartial("_ProductFilter", filter);}
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="dataTables-example" class="table table-striped table-bordered table-hover dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th width="35">#</th>
                                            <th width="120">Action</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Nhóm sản phẩm</th>                                        
                                            <th width="110" align="center">Trạng thái</th>
                                            <th width="110">Người tạo</th>
                                            <th width="110">Ngày tạo</th>
                                            <th width="110">Cập nhật</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count > 0)
                                        {
                                            foreach (var item in Model)
                                            {                       
                                                <tr>
                                                    <td>@currentno</td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs" role="group" aria-label="...">                                                         

                                                            <a href="@Url.Action("SetLockProduct",new { Id=item.ProductId})" class="btn btn-default">
                                                                <span class="fa fa-check-circle  @(item.Status==nameof(StatusEntity.Active) ? "text-primary" : "text-muted" )"></span>
                                                            </a>
                                                            <a class="btn btn-default" href="@Url.Action("Edit", new { ID = item.ProductId })"><i class="fa fa-pencil fa-fw"></i></a>
                                                            <a class="btn btn-default" href="@Url.Action("SetDeletedProduct", new { ID = item.ProductId })"><i class="fa fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("Edit",new { Id=item.ProductId})">
                                                            @item.ProductName
                                                        </a> <br />
                                                        <small>(Alias: @item.ProductAlias)</small>
                                                    </td>
                                                    <td>
                                                        @if (item.CategoryId > 0)
                                                        {
                                                            <a href="@Url.Action("Edit", new { id = item.CategoryId })">@item.CategoryName</a>
                                                        }
                                                        else
                                                        {
                                                            @item.CategoryName
                                                        }
                                                    </td>                                               
                                                    <td class="text-center">
                                                        <span class="badge badge-">@item.Status</span>
                                                    </td>
                                                    <td>
                                                        @item.CreatedByName
                                                    </td>
                                                    <td>
                                                        @item.CreatedDate.ToShortDateString()
                                                    </td>
                                                    <td>
                                                        @item.ModifiedDate.ToShortDateString()
                                                    </td>
                                                </tr>
                                                currentno = currentno + 1;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="8">
                                                    Không tìm thấy thông tin
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


